.article {
    
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* gap: 20px;  */
    border: 1px solid rgb(224, 71, 224); 
  
}

/* article>div {
    background-color:  rgb(208, 248, 208);
} */

.article__date {
    text-align:right;
    height: 20px;
    border: 1px solid rgb(224, 71, 224);
    padding-right: 5px;
    background-color:  rgb(208, 248, 208);
    
}

.article__title {
    text-align:right;
    overflow: hidden;
    height: 20px;
    border: 1px solid rgb(224, 71, 224);
    padding-right: 5px;
    background-color:  rgb(208, 248, 208);
}

.article__post {
    display: flex;
    flex-direction: row; 
    gap: 10px;  
    border: 1px solid rgb(224, 71, 224);
    background-color:  rgb(208, 248, 208);
}

/* .article__post>div {
    margin: 10px;
} */

.article__post__user {
    display: flex;
    flex-direction: column;
    gap: 10px;  
    margin: 10px;  
}

.article__post__avatar {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.article__post__avatar_img {
    height: 100px;
    width: 100px;
    margin: 5px;
    align-self: last baseline
    
    /* margin-top: 30px; */
}

.article__post__name {
    /* width: 100px;
    height: 100px;
    overflow: hidden; */

    text-align:right;
    overflow: hidden;
    height: 20px;
    border: 1px solid rgb(224, 71, 224);
    padding-right: 5px;
    background-color:  rgb(208, 248, 208);
}

.article__post__text {
    height: 200px;
    overflow: hidden;
    border: 1px solid rgb(224, 71, 224);
    padding-right: 5px;
    background-color:  rgb(208, 248, 208);
    padding: 5px;
}

.article__more {
    text-align:right;
    height: 20px;
    border: 1px solid rgb(224, 71, 224);
    padding-right: 5px;
}

button {
    background-color: rgb(208, 248, 208);
    color: rgb(226, 49, 226);
    border-radius: 5%;
    margin: 5px; 
}

@media screen and (max-width: 500px) {

    .article__title {
        overflow: hidden;       
    }

    .article__post__avatar_img {
        display: none;
    }
    
}


