#get {
    background-color: rgb(102, 31, 218);
    color: azure;
    border-radius: 5px;
    border-color: azure;
    font-size: 20px;

}

#del {
    background-color: red;
    color: azure;
    border-radius: 5px;
    border-color: azure;
    font-size: 20px;

}

.posts {
    /* border: 1px solid black; */
   
    margin: 10px;
    /* width: 500px; */
    

}

.posts>div {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

p {
    border: 1px solid black;
    margin: 10px;
}


