article {    
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 2px;        
}

article>div {
    background-color:  rgb(208, 248, 208);
}

.article__user__name__input {
    background-color: rgb(208, 248, 208);
    margin: 10px; 
    width: 20%;  
}

.article__title {
    padding-right: 5px;
}

.article__title__input {
    width: 70%;
    margin: 10px;  
    background-color: rgb(208, 248, 208);
}

#text {
    height: 350px;
    width: 95%;
    background-color: rgb(208, 248, 208);
    margin: 10px;
    resize: vertical;
}

.article__buttons {
    height: 40px;
}

.article__buttons__submit {
    background-color: rgb(236, 177, 236);
    color: rgb(0, 0, 0);
    border-radius: 5%;
    margin: 10px;
}

.article__buttons__del {
    background-color: rgb(236, 177, 236);
    color: rgb(0, 0, 0);
    border-radius: 5%;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    article {
        margin: 10px;
    }

    #text {
        width: 80%;       
    }

    .article__buttons {
        height: 100px;
    } 
}
