body {
    background-color: rgb(236, 177, 236);

}

.wrapper {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main {
    /* background-color: rgb(208, 248, 208); */
    margin: 10px 100px;
}



