body {
    background-color: rgb(236, 177, 236); 
}

.wrapper {    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main {
    margin: 10px 100px;
    font-family: Futura;
}


