
@font-face {
    font-family: SweetMavka;
    src: url('../fonts/SweetMavka/SweetMavkaScript.ttf');
}

@font-face {
    font-family: clarendon;
    src: url('../fonts/clarendon/clarendoncondensed_bold.otf');
}

@font-face {
    font-family: Futura;
    src: url('../fonts/Futura/FuturaMd.ttf');
}
