.header__feed-link:link {
    color: rgb(2, 82, 39);
}

.header__feed-link:active {
    color: rgb(208, 248, 208);
}

.header__feed-link:visited {
    color: rgb(207, 102, 207);
}

.header__new-link:link {
    color: rgb(2, 82, 39);
}

.header__new-link:active {
    color: rgb(208, 248, 208);
}

.header__new-link:visited {
    color: rgb(207, 102, 207);
}

.header__feed-link:hover {
    cursor: pointer;
}

.header__new-link:hover {
    cursor: pointer;
}

.footer__admin-link:link {
    color: rgb(2, 82, 39);
}

.footer__admin-link:active {
    color: rgb(208, 248, 208);
}

.footer__admin-link:visited {
    color: rgb(207, 102, 207);
}

.footer__admin-link:hover {
    cursor: pointer;
}

.article__more__link:link {
    color: rgb(2, 82, 39);
}

.article__more__link:active {
    color: rgb(208, 248, 208);
}

.article__more__link:visited {
    color: rgb(207, 102, 207);
}

.article__more__link:hover {
    cursor: pointer;
}